/* botones */
.btn {
  background-color: transparent;
  border: 1pt solid #fff;
  color: #fff;
  padding: 0.5rem 1rem;
}

.btn-primary {
  background-color: #283442;
  border-color: #283442;
  color: #fff;
}

.btn-alt {
  background-color: transparent;
  border-color: #283442;
  color: #283442;
}

/*  */
body {
  margin: 0;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  background-color: #000;
  color: #fff;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "hero" "ultimo" "reels" "nosotros" "contacto" "footer";
}

body .overlay {
  background-color: #000;
}

body .hero {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero;
  height: 100vh;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar-top {
  height: 76px;
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
}

body .navbar-top .menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body .navbar-top .menu-list li {
  float: left;
  padding: 1rem;
}

body .ultimo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ultimo;
  background-color: #000;
}

body .ultimo .work-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

body .ultimo .work-grid .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .ultimo .work-grid .item .card {
  background-color: #fff;
  width: 100%;
}

body .ultimo .work-grid .item .card:hover {
  cursor: pointer;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

body .reels {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: reels;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .reels .content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .reels .content-area div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .reels .content-area div img {
  background-color: #fff;
  height: 2rem;
  width: 2rem;
}

body .nosotros {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: nosotros;
  background-color: #000;
}

body .nosotros .card-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

body .nosotros .card-area .card {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .nosotros .card-area .card img {
  background-color: #000;
  height: 13rem;
  width: 100%;
}

body .nosotros .card-area .card .card-container {
  background-color: #fff;
  color: #000;
}

body .nosotros .card-area .card .card-container h4 {
  margin: 0;
}

body .contactanos {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: contacto;
  background-color: #000;
}

body .contactanos .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contactanos .form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

body .contactanos .form .form-field input,
body .contactanos .form .form-field textarea {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  resize: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body .contactanos .form .form-field input:focus,
body .contactanos .form .form-field textarea:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

body .contactanos .form button {
  float: right;
}

body .footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */