$background: #000;
$font-color: #fff;
$primary: #283442;
$sec: #52f8ff;

$title-font: 14pt;
$subtitle-font: 12pt;
$body-font: 9pt;

$form-font: 7pt;
$btn-font: 6pt;

/* fonts */
@font-face {
  font-family: "Open Sans Condenced Bold";
  src: local("OpenSans-CondBold"), url(../assets/fonts/OpenSans-CondBold.ttf);
}

@font-face {
  font-family: "Open Sans Condenced Light";
  src: local("OpenSans-CondLight"), url(../assets/fonts/OpenSans-CondLight.ttf);
}

@font-face {
  font-family: "Open Sans Condenced Light Italic";
  src: local("OpenSans-CondLightItalic"), url(../assets/fonts/OpenSans-CondLightItalic.ttf);
}

@font-face {
  font-family: "Oswald Bold";
  src: local("Oswald-Bold"), url(../assets/fonts/Oswald-Bold.ttf);
}

@font-face {
  font-family: "Oswald Light";
  src: local("Oswald-Light"), url(../assets/fonts/Oswald-Light.ttf);
}

@font-face {
  font-family: "Oswald Regular";
  src: local("Oswald-Regular"), url(../assets/fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: "Lato Light";
  src: local("Lato-Light"), url(../assets/fonts/Lato-Light.ttf);
}
/* -- */

/* botones */
.btn {
  background-color: transparent;
  border: 1pt solid $font-color;
  color: $font-color;
  padding: 0.5rem 1rem;
  font-family: "Lato Light";
  font-size: $btn-font;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $font-color;
}

.btn-alt {
  background-color: transparent;
  border-color: $primary;
  color: $primary;
}
/*  */

/* Titulos */
.title {
  font-family: "Open Sans Condenced Bold";
  font-size: $title-font;
  color: $sec;
  margin: 1.5rem 0;

  span {
    border-bottom: 1px solid $sec;
  }
}
/*  */

body {
  margin: 0;
  display: grid;
  height: 100vh;
  background-color: $background;
  color: $font-color;
  grid-template-columns: auto;
  grid-template-rows: 76px 1fr;
  grid-template-areas:
    "navbar"
    "papeles";

  .navbar-top {
    grid-area: navbar;
    height: 76px;
    width: 100%;
    background-color: $background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all 0.3s ease-in;

    .img-logo {
      width: 4rem;
    }
    .menu-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        padding: 1rem;

        .btn-menu {
          font-family: "Open Sans Condenced Bold";
          font-size: $body-font;
          color: $font-color;
          text-decoration: none;

          
        }
        &.active {
          a {
            color: $sec;
          }
          
        }
      }
    }
  }

  .papeles {
    grid-area: papeles;
    position: relative;
    height: 100%;
  }
  .overlay {
    grid-area: overlay;
    // background-color: $background;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero {
    grid-area: hero;
    height: 100%;
    background-color: transparent;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: url("../assets/img/6XxLQkY.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    width: 100vw;
    text-align: center;

    .leme {
      font-family: "Open Sans Condenced Bold";
      font-size: $title-font;
      z-index: 2;
    }

    .btns {
      z-index: 2;
    }
  }

  .ultimo {
    grid-area: ultimo;
    background-color: $background;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 2;

    .work-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 15px;
      height: 100%;

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-height: 15rem;

        &:hover > .card {
          transform: scale(1.2) !important;
        }

        .card {
          // background-color: #fff;
          // width: 100%;
          // height: 13rem;
          // background-image: url(https://material.angular.io/assets/img/examples/shiba2.jpg);
          // background-repeat: no-repeat;
          // background-size: cover;
          transition: all ease-in 0.2s;
          max-height: inherit;

          &:hover {
            cursor: pointer;
            transform: scale(1.2) !important;
            // filter: brightness(70%);
          }

          img {
            max-width: 100%;
          }
        }
      }
    }
  }

  .reels {
    grid-area: reels;
    background-color: $background;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    z-index: 2;

    .content-area {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      height: 100%;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          background-color: $font-color;
          height: 2rem;
          width: 2rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .nosotros {
    grid-area: nosotros;
    background-color: $background;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 2;

    .card-area {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 15px;

      .card {
        display: flex;
        flex-direction: column;

        img {
          background-color: #000;
          height: 20rem;
          width: 100%;
        }

        .card-container {
          background-color: #fff;
          color: $background;
          padding: 1rem;

          h4 {
            font-family: "Open Sans Condenced Bold";
            font-size: $subtitle-font;
            margin: 0;
          }

          small {
            font-family: "Open Sans Condenced Light";
            font-size: $subtitle-font;
          }
        }
      }
    }
  }

  .contactanos {
    grid-area: contacto;
    background-color: $background;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 2;

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Lato Light";
      font-size: $subtitle-font;

      form {
        width: 45%;
      }

      .form-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 1rem;

        label {
          span {
            color: #ff0000;
          }
        }

        input,
        textarea {
          background-color: transparent;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          border-bottom: 1px solid #fff;
          color: #fff;
          resize: none;
          transition: all 0.2s ease-in;
          font-size: 1.2rem;

          &:focus {
            outline: none;
            border-bottom: 2px solid #fff;
          }
        }

        textarea {
          height: 6rem;
        }
      }

      button {
        float: right;
      }
    }
  }

  .footer {
    grid-area: footer;
    z-index: 2;
    padding: 2rem 0;
    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pp-tableCell {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-content: inherit;
  width: 100%;
  box-sizing: border-box;

}

.pp-section {
  box-sizing: border-box;
}
