/* fonts */
@font-face {
  font-family: "Open Sans Condenced Bold";
  src: local("OpenSans-CondBold"), url(../assets/fonts/OpenSans-CondBold.ttf);
}

@font-face {
  font-family: "Open Sans Condenced Light";
  src: local("OpenSans-CondLight"), url(../assets/fonts/OpenSans-CondLight.ttf);
}

@font-face {
  font-family: "Open Sans Condenced Light Italic";
  src: local("OpenSans-CondLightItalic"), url(../assets/fonts/OpenSans-CondLightItalic.ttf);
}

@font-face {
  font-family: "Oswald Bold";
  src: local("Oswald-Bold"), url(../assets/fonts/Oswald-Bold.ttf);
}

@font-face {
  font-family: "Oswald Light";
  src: local("Oswald-Light"), url(../assets/fonts/Oswald-Light.ttf);
}

@font-face {
  font-family: "Oswald Regular";
  src: local("Oswald-Regular"), url(../assets/fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: "Lato Light";
  src: local("Lato-Light"), url(../assets/fonts/Lato-Light.ttf);
}

/* -- */
/* botones */
.btn {
  background-color: transparent;
  border: 1pt solid #fff;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: "Lato Light";
  font-size: 12pt;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-transform: capitalize;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  background-color: #283442;
  border-color: #283442;
  color: #fff;
}

.btn-alt {
  background-color: transparent;
  border-color: #283442;
  color: #283442;
}

/*  */
/* Titulos */
.title {
  font-family: "Open Sans Condenced Bold";
  font-size: 24pt;
  color: #9c9c9c;
  margin: 1.5rem 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 20pt;
    margin: 0.5rem 0;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 20pt;
    margin: 0.5rem 0;
  }
}

.title-rellax {
  margin: 2rem;
  padding: 0.5rem 5rem;
  border-bottom: 1px solid #fff;
}

.sec-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*  */
body {
  margin: 0;
  display: -ms-grid;
  display: grid;
  height: 100vh !important;
  background-color: #000;
  color: #fff;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "hero" "ultimo" "reels" "nosotros" "contacto" "footer";
  /* width */
  /*  */
  /* Track */
  /*  */
  /* Handle */
  /*  */
  /* Handle on hover */
  /*  */
  /* keyframes */
  /*  */
}

body ::-webkit-scrollbar {
  width: 10px;
}

body ::-webkit-scrollbar-track {
  background: #d6d6d6;
}

body ::-webkit-scrollbar-thumb {
  background: #9c9c9c;
}

body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes updown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

body .navbar-top {
  grid-area: navbar;
  height: 76px;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body .navbar-top .img-logo {
  width: auto;
  height: 100%;
  padding-left: 1rem;
  max-height: 35px;
}

body .navbar-top .img-logo:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  body .navbar-top .img-logo {
    max-height: 29px;
  }
}

@media (max-width: 576px) {
  body .navbar-top .img-logo {
    max-height: 21px;
  }
}

body .navbar-top .menu-toggler {
  display: none;
  padding: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  body .navbar-top .menu-toggler {
    display: block;
  }
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .navbar-top .menu-toggler {
    display: block;
  }
}

body .navbar-top .menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  body .navbar-top .menu-list {
    display: none;
  }
  body .navbar-top .menu-list.menu-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: absolute;
    top: 76px;
    right: 0;
    text-align: center;
    background-color: #000;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
  }
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .navbar-top .menu-list {
    display: none;
  }
  body .navbar-top .menu-list.menu-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: absolute;
    top: 76px;
    right: 0;
    text-align: center;
    background-color: #000;
    border-top: 1px solid #fff;
  }
}

body .navbar-top .menu-list li {
  float: left;
  padding: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  body .navbar-top .menu-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
  }
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .navbar-top .menu-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

body .navbar-top .menu-list li:hover .btn-menu {
  color: #4f4f4f;
}

body .navbar-top .menu-list li .btn-menu {
  font-family: "Open Sans Condenced Bold";
  font-size: 14pt;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  body .navbar-top .menu-list li .btn-menu {
    font-size: 16px;
  }
}

body .navbar-top .menu-list li.active a {
  color: #9c9c9c !important;
}

body .papeles {
  grid-area: papeles;
  position: relative;
  height: 100%;
}

body .papeles .section {
  -webkit-transform: translate3d(0px, 100%, 0px) !important;
          transform: translate3d(0px, 100%, 0px) !important;
}

body .papeles .section.active {
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
          transform: translate3d(0px, 0px, 0px) !important;
}

body .papeles .section.prev {
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
          transform: translate3d(0px, 0px, 0px) !important;
}

body .overlay {
  background-color: #000;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 101;
  -webkit-transition: -webkit-transform 0.8s ease-in;
  transition: -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in;
  transition: transform 0.8s ease-in, -webkit-transform 0.8s ease-in;
}

body .overlay #logo-animation {
  height: 70vh;
}

body .overlay .leng {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

body .overlay .leng #esp {
  margin-left: 1rem;
  margin-top: 1rem;
}

body .hero {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero;
  height: 100vh;
  background-color: transparent;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
}

body .hero::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/6XxLQkY.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-position: center;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

body .hero .leme {
  font-family: "Open Sans Condenced Bold";
  font-size: 24pt;
  z-index: 2;
}

body .hero .btns {
  z-index: 2;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

body .hero .btns .down-arrows {
  cursor: pointer;
  -webkit-animation: updown 1s infinite alternate;
          animation: updown 1s infinite alternate;
}

body .ultimo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ultimo;
  background-color: #000;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

body .ultimo .work-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  margin-top: 20rem;
}

@media (max-width: 768px) {
  body .ultimo .work-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  body .ultimo .work-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

body .ultimo .work-grid .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  min-height: 15rem;
  cursor: pointer;
  position: relative;
  max-height: 18rem;
}

body .ultimo .work-grid .item:hover > .card {
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
}

body .ultimo .work-grid .item .proyect-title {
  font-family: "Open Sans Condenced Bold";
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-size: 16pt;
}

body .ultimo .work-grid .item .card {
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  max-height: inherit;
}

body .ultimo .work-grid .item .card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
}

body .ultimo .work-grid .item .card img {
  max-width: 100%;
}

body .ultimo .card-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .ultimo .card-modal.active {
  position: -webkit-sticky;
  position: sticky;
  opacity: 1;
  min-width: 100%;
  min-height: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

body .ultimo .card-modal.active.back-faded {
  background-color: rgba(0, 0, 0, 0.5);
}

body .ultimo .card-modal .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

@media (max-width: 576px) {
  body .ultimo .card-modal .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .ultimo .card-modal .content.hidden {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

body .ultimo .card-modal .content.leaving {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

body .ultimo .card-modal .content.mod-video {
  height: 100%;
}

body .ultimo .card-modal .content.mod-video .sec-img {
  opacity: 0;
}

body .ultimo .card-modal .content.mod-video .sec-info {
  opacity: 0;
}

body .ultimo .card-modal .content.mod-video .sec-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2rem;
  opacity: 1;
}

body .ultimo .card-modal .content.mod-video .sec-video .video {
  max-height: 400px;
  max-width: 800px;
  width: 100%;
  height: 100%;
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .ultimo .card-modal .content.mod-video .sec-video .video {
    max-height: 200px;
    max-width: 300px;
  }
}

body .ultimo .card-modal .content .sec-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(https://material.angular.io/assets/img/examples/shiba2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: auto;
  max-width: 38rem;
  background-position: center;
}

@media (max-width: 576px) {
  body .ultimo .card-modal .content .sec-img {
    height: 100%;
    height: 12rem;
    max-height: 12rem;
    margin-top: 1rem;
  }
}

body .ultimo .card-modal .content .sec-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 0 2rem 2rem 2rem;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

@media (max-width: 576px) {
  body .ultimo .card-modal .content .sec-info {
    padding: 1rem 1rem;
  }
}

body .ultimo .card-modal .content .sec-info .sec-title {
  margin-bottom: 0;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20pt;
  font-family: "Open Sans Condenced Bold";
}

@media (max-width: 576px) {
  body .ultimo .card-modal .content .sec-info .sec-title {
    font-size: 20pt;
  }
}

body .ultimo .card-modal .content .sec-info .sec-title .title {
  color: #fff;
}

body .ultimo .card-modal .content .sec-info .sec-title .close-modal {
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer !important;
}

body .ultimo .card-modal .content .sec-info .description {
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3rem;
  font-family: "Open Sans Condenced Light";
  font-size: 16pt;
}

@media (max-width: 576px) {
  body .ultimo .card-modal .content .sec-info .description {
    padding: 0;
    font-size: 13pt;
  }
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .ultimo .card-modal .content .sec-info .description {
    padding: 0;
    font-size: 13pt;
  }
}

body .ultimo .card-modal .content .sec-info .btn-area {
  text-align: right;
}

body .ultimo .card-modal .content .sec-video {
  display: block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  position: absolute;
  opacity: 0;
}

body .ultimo .card-modal .content .sec-video.up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .ultimo .card-modal .content .sec-video.down {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

body .ultimo .card-modal .content .sec-video .vid-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20pt;
  font-family: "Open Sans Condenced Bold";
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .ultimo .card-modal .content .sec-video .vid-info {
    font-size: 16pt;
  }
  body .ultimo .card-modal .content .sec-video .vid-info .title {
    margin: 0.5rem 0;
  }
}

body .ultimo .card-modal .content .sec-video .vid-info .close-video {
  cursor: pointer !important;
}

body .reels {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: reels;
  background-color: #000;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  height: 100%;
  z-index: 2;
  margin-top: 8rem;
}

body .reels .card-modal-reel {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .reels .card-modal-reel.active {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1rem;
  opacity: 1;
  min-width: 100%;
  min-height: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 768px) {
  body .reels .card-modal-reel.active {
    padding: 0 2rem;
  }
}

body .reels .card-modal-reel.active.back-faded {
  background-color: rgba(0, 0, 0, 0.5);
}

body .reels .card-modal-reel.mod-video {
  height: 100%;
}

body .reels .card-modal-reel.mod-video .sec-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .reels .card-modal-reel.mod-video .sec-video .video {
  max-height: 400px;
  max-width: 800px;
  width: 100%;
  height: 100%;
}

body .reels .card-modal-reel .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

body .reels .card-modal-reel .content.mod-video {
  height: 100%;
  width: 100%;
}

body .reels .card-modal-reel .content.mod-video .sec-img {
  opacity: 0;
}

body .reels .card-modal-reel .content.mod-video .sec-persona {
  opacity: 0;
}

body .reels .card-modal-reel .content.mod-video .sec-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2rem;
}

body .reels .card-modal-reel .content.mod-video .sec-video.up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .reels .card-modal-reel .content.mod-video .sec-video.down {
  -webkit-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
}

body .reels .card-modal-reel .content.mod-video .sec-video .video {
  max-height: 400px;
  max-width: 800px;
  width: 100%;
  height: 100%;
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .reels .card-modal-reel .content.mod-video .sec-video .video {
    max-height: 200px;
    max-width: 350px;
  }
}

body .reels .card-modal-reel .content.mod-video .sec-video.sec-carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2rem;
  z-index: 3;
}

body .reels .card-modal-reel .content.mod-video .sec-video.sec-carrousel .carrousel-personas {
  max-height: 400px;
  max-width: 800px;
  width: 100%;
  height: 100%;
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .reels .card-modal-reel .content.mod-video .sec-video.sec-carrousel .carrousel-personas {
    max-height: 200px;
    max-width: 350px;
  }
}

body .reels .card-modal-reel .content.mod-video .sec-video.sec-carrousel .carrousel-personas .slick-list {
  height: 100%;
}

body .reels .card-modal-reel .content.mod-video .sec-video.sec-carrousel .carrousel-personas .slick-track {
  height: 100%;
}

body .reels .card-modal-reel .content.mod-video .sec-video.sec-carrousel .carrousel-personas .slick-track .slick-slide {
  height: 100%;
}

body .reels .card-modal-reel .content.mod-video .sec-video.sec-carrousel .carrousel-personas .video-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

body .reels .card-modal-reel .content.mod-video .sec-video.sec-carrousel .carrousel-personas .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

body .reels .card-modal-reel .content.mod-video .sec-video.sec-carrousel .close-carrousel {
  width: 100%;
  text-align: right;
  font-size: 20pt;
  font-family: "Open Sans Condenced Bold";
  margin-bottom: 3rem;
}

body .reels .card-modal-reel .content.mod-video .sec-video.sec-carrousel .close-carrousel .exit-carrousel {
  cursor: pointer;
}

body .reels .card-modal-reel .content .sec-video {
  display: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

body .reels .card-modal-reel .content .sec-video.up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .reels .card-modal-reel .content .sec-video.down {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

body .reels .card-modal-reel .content .sec-video .sec-carrousel {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

body .reels .card-modal-reel .content .sec-persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2rem;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .reels .card-modal-reel .content .sec-persona.up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .reels .card-modal-reel .content .sec-persona.down {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

body .reels .card-modal-reel .content .sec-persona .close-video-reel-persona {
  width: 100%;
  text-align: right;
  font-size: 20pt;
  font-family: "Open Sans Condenced Bold";
  margin-bottom: 3rem;
}

body .reels .card-modal-reel .content .sec-persona .close-video-reel-persona .exit-persona {
  cursor: pointer;
}

body .reels .card-modal-reel .content .sec-persona .sec-personas {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 768px) {
  body .reels .card-modal-reel .content .sec-persona .sec-personas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  body .reels .card-modal-reel .content .sec-persona .sec-personas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .reels .card-modal-reel .content .sec-persona .sec-personas .persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .reels .card-modal-reel .content .sec-persona .sec-personas .persona .p-name {
  font-family: "Open Sans Condenced Light";
  font-size: 16pt;
  margin-bottom: 2rem;
}

body .reels .card-modal-reel .content .sec-persona .sec-personas .persona .btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

body .reels .sec-video {
  display: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

body .reels .sec-video.up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .reels .sec-video.down {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

body .reels .sec-video .vid-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20pt;
  font-family: "Open Sans Condenced Bold";
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .reels .sec-video .vid-info .title {
    margin: 0.5rem;
  }
}

body .reels .sec-video .vid-info .close-video-reel {
  cursor: pointer !important;
}

body .reels .content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  body .reels .content-area {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .reels .content-area {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

body .reels .content-area .reel-type {
  cursor: pointer;
  height: 145px;
}

body .reels .content-area div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .reels .content-area div img {
  height: 4rem;
  width: 4rem;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  body .reels .content-area div img {
    height: 3rem;
    width: 3rem;
  }
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .reels .content-area div img {
    height: 2rem;
    width: 2rem;
  }
}

body .reels .content-area div label {
  font-family: "Open Sans Condenced Bold";
  font-size: 16pt;
}

@media (max-width: 576px) {
  body .reels .content-area div label {
    font-size: 13pt;
  }
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .reels .content-area div label {
    font-size: 12pt;
  }
}

body .reels .content-area div span {
  font-family: "Open Sans Condenced Light";
  font-size: 16pt;
}

@media (max-width: 576px) {
  body .reels .content-area div span {
    font-size: 13pt;
  }
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .reels .content-area div span {
    font-size: 12pt;
  }
}

body .nosotros {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: nosotros;
  background-color: #000;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

body .nosotros .card-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

body .nosotros .card-area .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .nosotros .card-area .card img {
  background-color: #000;
  height: 17rem;
  width: 100%;
}

body .nosotros .card-area .card .card-container {
  background-color: #fff;
  color: #000;
  padding: 1rem;
}

body .nosotros .card-area .card .card-container h4 {
  font-family: "Open Sans Condenced Bold";
  font-size: 20pt;
  margin: 0;
}

body .nosotros .card-area .card .card-container small {
  font-family: "Open Sans Condenced Light";
  font-size: 20pt;
}

body .contactanos {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: contacto;
  background-color: #000;
  padding: 2rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  overflow-y: hidden;
  height: 100%;
}

@media only screen and (max-width: 576px) {
  body .contactanos {
    overflow-y: scroll;
  }
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .contactanos {
    overflow-y: scroll;
  }
}

body .contactanos .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato Light";
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .contactanos .form {
    position: relative;
  }
}

body .contactanos .form small {
  position: absolute;
  bottom: 1rem;
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .contactanos .form small {
    position: relative;
    bottom: 0;
  }
}

body .contactanos .form form {
  font-size: 20pt;
  width: 45%;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 576px) {
  body .contactanos .form form {
    width: 100%;
  }
}

@media only screen and (orientation: landscape) and (max-height: 576px) {
  body .contactanos .form form {
    width: 45%;
  }
}

body .contactanos .form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

body .contactanos .form .form-field label {
  font-size: 14pt;
}

body .contactanos .form .form-field label span {
  color: #ff0000;
}

body .contactanos .form .form-field input,
body .contactanos .form .form-field textarea {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  color: #fff;
  resize: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 1.2rem;
}

body .contactanos .form .form-field input:focus,
body .contactanos .form .form-field textarea:focus {
  outline: none;
  border-bottom: 1px solid #fff;
}

body .contactanos .form .form-field textarea {
  height: 5rem;
}

body .contactanos .form button {
  float: right;
}

body .footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
  z-index: 2;
  padding: 2rem 0;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pp-tableCell {
  display: inherit !important;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -ms-flex-line-pack: inherit;
      align-content: inherit;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pp-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */